<div id="bestList" class="col-12 row justify-content-center">
    {% if best is defined %}
        {% for build in best %}
            <a href="{{ path('app_build_show', { 'id': build.id }) }}"
               class="build-list col-12 justify-content-between align-content-center align-items-center flex-nowrap row mb-1"
               style="color : {{ build.wowClass.color }};"
            >
                <img class="build-list-img" src="{{ build.wowClass ? asset('build/images/img/' ~ build.wowClass.img ) : '' }}" alt="{{ build.title }}">
                <div class="col row justify-content-between align-items-center align-content-center">
                    <div class="col-9">
                        <div class="build-list-title text-nowrap overflow-hidden">{{ build.title | cut(40) }}</div>
                    </div>
                    <div class="col-auto row">
                        <div class="build-list-votePos icon m-1 pl-1">{{ build.countPos }}</div>
                        <div class="build-list-voteNeg icon m-1 pl-1">{{ build.countNeg }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}

    {% else %}
        <div class="build-list col-12 justify-content-between align-content-center align-items-center flex-nowrap row mb-1">
            Pas de build pour la classe {{ class.name }} :( <a href="{{ path('app_build_new') }}">... Créez en un !</a>
        </div>
    {% endif %}
</div>