{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block body %}
    <div class="col-12 row justify-content-center align-content-center">
        <div class="col-12 row justify-content-center align-items-center p-3">
            <img class="img-fluid user-img" src="{{ asset('build/images/img/' ~ user.wowClass.img) }}" alt="{{ user.wowClass.name }}">
            <h1 class="col-12 text-center" style="color:{{ user.wowClass.color }}">{{ user.username }}</h1>
            <div class="col-12 text-center">Commentaires : {{ user.comments | length }}</div>

            {% if app.user is same as(user) %}
                <p class="col-12 text-center user-email">{{ user.email }}</p>
            {% endif %}
        </div>

        <div class="col-12 row  text-center m-2 p-1 justify-content-center">
            <h4 class="col-12">Vos créations</h4>
            <div class="col-auto user-private">
                {% for build in user.builds %}
                    {% if build.isActive %}
                        <a class="col-12 user-build" style="color:{{ build.wowClass.color }}" href="{{ path('app_build_show', {'id' : build.id}) }}">{{ build.title | cut(20) }}</a>
                    {% else %}
                        <a class="col-12 user-build disabled" style="color:{{ build.wowClass.color }}" href="#">{{ build.title | cut(20) }}</a>
                        <div class="tooltiptext">Ce build est désactivé par son rédacteur ! :( </div>
                    {% endif %}
                {% else %}
                    <p>Aucun build n'a été rédigé</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 row text-center m-2 p-1 justify-content-center">
            <h4 class="col-12">Builds que vous suivez</h4>
            <div class="col-auto user-private">
                {% for build in user.favorites %}
                    {% if build.isActive %}
                        <a class="col-12 user-build" style="color:{{ build.wowClass.color }}" href="{{ path('app_build_show', {'id' : build.id}) }}">{{ build.title | cut(20) }}</a>
                    {% else %}
                        <a class="col-12 user-build disabled" style="color:{{ build.wowClass.color }}" href="#">{{ build.title | cut(20) }}</a>
                    {% endif %}
                {% else %}
                    <p>Vous ne suivez aucun builds :( !</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 row justify-content-start flex-column align-items-center">
        <a class="btn btn-outline-success m-3" href="{{ path('app_build_index') }}">Retour aux builds</a>

        {% if is_granted("ROLE_ADMIN") %}
            <a class="btn btn-outline-success m-3" href="{{ path('app_user_index') }}">Retour à la liste des utilisateurs</a>
        {% endif %}

        {% if app.user is same as(user) %}
            <a class="btn btn-outline-warning m-3" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
            {{ include('user/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
